<%- include("header") -%>
<link rel="stylesheet" href="css/chat.css">
<script>
  $(document).ready(function() {
    $('html,.chatbox').animate({
      scrollTop: 100000000000000000000000000000000000
    }, 0.000000000000000000001);
    return false;
  });
  function yourFunction() {
    var action_src = "https://groupcht.herokuapp.com/" + document.getElementsByName("keywords")[0].value;
    var your_form = document.getElementById('your_form');
    your_form.action = action_src;
  }
</script>
</head>
<body>
  <nav class="nav navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/">GroupChat</a>
    <i class="far icon fa-comments fa-2x"></i>
    <a class="btn btn-light btn-dark logout" href="/logout" role="button">Log Out</a>
    <a class="btn btn-light btn-dark logout" href="/yourgroups" role="button">View Your Groups</a>
    <%if(groupname!== "Boom"){ %>
    <form action="/participants" method="post">
      <button class="btn btn-light btn-dark logout" type="submit"value="<%=  groupname %>" name="upperbutton">Participants Of Group</button>
    </form>
    <%}%>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <img class="image" src="images/chat.svg" alt="">
        <%if(groupname=== "Boom"){ %>
    <h3 class="desp">create your own private room</h3>
    <form id="your_form" onsubmit="yourFunction()">
      <input type="text" class="form-control" placeholder="Group Name" name="keywords">
      <div class="btn-2 register ">
        <button type="submit" name="button" value="search"><span>Create / Join</span></button>
      </div>
    </form>
    <%}else{ %>
    <h3 class="desp">Go back to public room</h3>
    <div class="btn-2 register ">
      <a href="/chat"><button name="button"><span>Go Back</span></button></a>
    </div>
    <%}%>
        <p>note :</p>
      </div>
      <div class="col-md">
        <div class="card groupnamebox">
          <h3 class='groupname'><%=groupname%></h3>
    </div>
    <div class="card chatbox ">
      <% newChat.forEach(function(item){ %>
      <%if(item.nameOfGroup=== groupname||item.nameOfGroup=== undefined){ %>
      <p class='chat time'><%=  item.time  %></p>
      <h4 class='chat'><%=  item.name  %>:</h4>
      <p class='chat'><%=  item.chat  %></p>
      <%if(item.image==="true"){ %>
      <img class='chat-img' src="data:image/<%=item.img.contentType%>;base64,
                                          <%=item.img.data.toString('base64')%>">
      <%} %>
      <%if(item.name=== username){ %>
      <form action="/delete" method="post">
        <button class="btn  deletebutton" type="submit" value="<%=  item._id  %>" name="deletebutton">delete </button>
        <input type="hidden" name="GroupName" value="<%=groupname%>"></input>
      </form>
      <%} %>
      <%} %>
      <% })%>
    </div>
    <!-- ////////////type box/////////// -->
    <div class="card submitcard">
      <div class="container">
        <div class="row">
          <div class="col">
            <form class="form-inline chatlabel " action="/chat" method="post">
              <input class=" downbox " type="text " name="chat" value="" placeholder="Type" autocomplete="off" autofocus>
              <button class=" addbutton btn " type="submit" name="button" value="<%=groupname%>">+</button>
            </form>
          </div>
          <div class="col">
            <form class="form-inline chatlabel " action="/chat" method="post" enctype="multipart/form-data">
              <input class="downbox file " type="file" name="image" value="">
              <button class=" addbutton btn " type="submit" name="button" value="<%=groupname%>">+</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
